.infor {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
}
.title {
  font-family: "Georgia", Georgia,serif;
  font-size: 36px;
  text-align: center;
}
.row {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
}
.sub{
  font-family: "Georgia", Georgia,serif;
  font-size: 36px;
  text-align: center;
}
